<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: common_head(~{::title}, ~{})}">
    <title>Department</title>
</head>
<body>
<div th:replace="~{fragments/header :: header-admin}"></div>
<main class="main">
    <h1>Osastot</h1>
    <h3>Lisää osasto</h3>
    <form class="form" th:action="@{/departments}" method="POST">
        <div class="form-field">
            <label for="name">Nimi</label>
            <input type="text" name="name" id="name"/>
        </div>
        <div class="form-selection">
            <label for="parentId">Vanhempainosasto</label>
            <select id="parentId" name="parentId">
                <option value="">None</option>
                <option th:each="parent : ${departments}" th:value="${parent.id}" th:text="${parent.name}"></option>
            </select>
        </div>
        <input class="btn" type="submit"/>
    </form>

    <table>
        <thead>
        <tr>
            <th>Osastot</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department : ${departments}" th:if="${department.getParent()==null}">
            <td>
                <span th:text="${department.getName()}"></span>
                <ul th:each="subdepartment : ${department.getChildren()}">
                    <li>
                        <span th:text="${subdepartment.getName()}"></span>
                        <ul th:each="sub : ${subdepartment.getChildren()}">
                            <li th:text="${sub.getName()}"></li>
                        </ul>
                    </li>
                </ul>
        </tr>
        </tbody>
    </table>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>