<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Department</title>
</head>
<body>
<div th:replace="~{fragments/header :: header-admin}"></div>
<h1>Departments</h1>
<h3>Add department</h3>
<form th:action="@{/departments}" method="POST">
  <div>
    <label for="name">Nimi:</label>
    <input type="text" name="name" id="name"/>
  </div>
  <label for="parentId">Parent Department:</label>
  <select id="parentId" name="parentId">
    <option value="">None</option>
    <option th:each="parent : ${departments}" th:value="${parent.id}" th:text="${parent.name}"></option>
  </select>
  <input type="submit"/>
</form>

<table>
  <thead>
  <tr>
    <th>Osastot</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="department : ${departments}" th:if="${department.getParent()==null}">
    <td>
      <span th:text="${department.getName()}"></span>
      <ul th:each="subdepartment : ${department.getChildren()}">
        <li>
          <span th:text="${subdepartment.getName()}"></span>
          <ul th:each="sub : ${subdepartment.getChildren()}">
            <li th:text="${sub.getName()}"></li>
          </ul>
        </li>
      </ul>
  </tr>
  </tbody>
</table>

</body>
</html>