<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: common_head(~{::title}, ~{})}">
    <title>Manufacturer</title>
</head>
<body>
<div th:replace="~{fragments/header :: header-admin('Manufactures')}"></div>
<main class="main">

    <h3>Lisää valmistajaa</h3>
    <form class="form" th:action="@{/manufacturers}" method="POST">
        <div class="form-field">
            <label for="name">Nimi</label>
            <input type="text" name="name" id="name"/>
        </div>
        <div class="form-field">
            <label for="url">Linkki</label>
            <input type="text" name="url" id="url"/>
        </div>
        <input class="btn" type="submit"/>
    </form>
    <div id="errorModal" th:class="modal" th:if="${errorMessage != null}">
        <div class="modal-content">
            <p th:text="${errorMessage}"></p>
            <button onclick="closeModalDialog()" th:class="|close btn|">Sulje</button>
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <th>Nimi</th>
            <th>Linkki</th>
            <th>Muokata</th>
            <th>Pois</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="manufacturer : ${manufacturers}">
            <td th:text="${manufacturer.getName()}" ></td>
            <td>
                <a th:class="link" th:href="${manufacturer.getUrl()}" th:text="${manufacturer.getUrl()}" target = "blank"></a>
            </td>
            <td class="btnCell">
                <a class="btn white" th:href="@{/manufacturer-edit/{id} (id=${manufacturer.id})}">Muokata</a>
            </td>
            <td class="btnCell">
                <form th:action="@{/manufacturers/{manufacturerId} (manufacturerId=${manufacturer.id})}" th:method="DELETE">
                    <input class="btn redBorder" type="submit" value="Poista"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>