<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: common_head(~{::title}, ~{})}">
    <title>Edit manufacturer</title>
</head>
<body>
<div th:replace="~{fragments/header :: header-admin('Manufactures')}"></div>
<main class="main">
    <h3>Muokata valmistajaa</h3>
    <form class="form" th:action="@{/manufacturer-edit/{manufacturerId}(manufacturerId = ${manufacturer.id})}" method="POST">
        <div class="form-field">
            <label for="name">Nimi</label>
            <input th:value="${manufacturer.getName()}" type="text" name="name" id="name"/>
        </div>
        <div class="form-field">
            <label for="url">Linkki</label>
            <input th:value="${manufacturer.getUrl()}" type="text" name="url" id="url"/>
        </div>
        <input class="btn" type="submit"/>
    </form>
    <table class="vertical-heading">
        <tbody>
        <tr>
            <th>Nimi</th>
            <td th:text="${manufacturer.getName()}" ></td>
        </tr>
        <tr>
            <th>Url</th>
            <td th:text="${manufacturer.getUrl()}" ></td>
        </tr>
        </tbody>
    </table>

    <a class="link-btn" th:href="@{/manufacturers}"><i class="fa-solid fa-arrow-left icon-back"></i>
        Takaisin</a>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>