<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: common_head(~{::title}, ~{})}">
    <title>Tuotteet</title>
</head>
<body>
<div th:replace="~{fragments/header :: header-admin('Tuotteet')}"></div>
<main class="main">
    <h3>Lisää tuote</h3>
    <form class="form" th:action="@{/products-admin}" method="POST" enctype="multipart/form-data">
        <div class="form-field">
            <label for="name">Nimi</label>
            <input type="text" name="name" id="name"/>
        </div>
        <div class="form-field">
            <label for="description">Kuvaus</label>
            <textarea name="description" id="description"></textarea>
        </div>
        <div class="form-field">
            <label for="price">Hinta</label>
            <input type="text" name="price" id="price"/>
        </div>
        <div class="form-selection">
            <label for="file">Kuva</label>
            <input type="file" name="file" id="file"/>
        </div>
        <div class="form-selection">
            <label for="departmentId">Osasto</label>
            <select id="departmentId" name="departmentId">
                <option th:each="department : ${departments}" th:value="${department.id}"
                        th:text="${department.name}"></option>
            </select>
        </div>
        <div class="form-selection">
            <label for="manufacturerId">Valmistaja</label>
            <select id="manufacturerId" name="manufacturerId">
                <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.id}"
                        th:text="${manufacturer.name}"></option>
            </select>
        </div>
        <div class="form-selection">
            <label for="supplierId">Toimittaja</label>
            <select id="supplierId" name="supplierId">
                <option th:each="supplier : ${suppliers}" th:value="${supplier.id}"
                        th:text="${supplier.name}"></option>
            </select>
        </div>
        <input class="btn" type="submit"/>

    </form>

    <div style="overflow-x:auto;">
        <table>
            <thead>
            <tr>
                <th>Nimi</th>
                <th>Kuvaus</th>
                <th>Hinta</th>
                <th>Kuva</th>
                <th>Osasto</th>
                <th>Valmistaja</th>
                <th>Toimittaja</th>
                <th>Muokata</th>
                <th>Pois</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.getName()}"></td>
                <td th:text="${product.getDescription()}"></td>
                <td th:text="${product.getPrice()}"></td>
                <td class="imgCell">
                        <img th:if="${product.getProductImg()!=null}" th:class="img-thumbnail" th:src="@{image/{id}(id=${product.id})}" alt="product image">

                </td>
                <td th:text="${product.getDepartment().name}"></td>
                <td th:text="${product.getManufacturer().name}"></td>
                <td th:text="${product.getSupplier().name}"></td>
                <td class="btnCell">
                    <a class="btn white" th:href="@{/product-edit/{id} (id=${product.id})}">Muokata</a>
                </td>
                <td class="btnCell">
                    <form th:action="@{/products-admin/{productId} (productId=${product.id})}" th:method="DELETE">
                        <input class="btn redBorder" type="submit" value="Remove"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>