<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: common_head(~{::title}, ~{})}">
    <title>Edit supplier</title>
</head>
<body>
<div th:replace="~{fragments/header :: header-admin}"></div>
<main class="main">
    <h3>Edit supplier</h3>
    <table>
        <thead>
        <tr>
            <th>Supplier</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Nimi</th>
            <td th:text="${supplier.getName()}"></td>
        </tr>
        <tr>
            <th>Yhteyshenkilö</th>
            <td th:text="${supplier.getContactPerson()}"></td>
        </tr>
        <tr>
            <th>YhteyshenkilöEmail</th>
            <td th:text="${supplier.getContactPersonEmail()}"></td>
        </tr>
        </tbody>
    </table>
    <form class="form" th:action="@{/supplier-edit/{supplierId}(supplierId = ${supplier.id})}" method="POST">
        <div class="form-field">
            <label for="name">Name:</label>
            <input th:value="${supplier.getName()}" type="text" name="name" id="name"/>
        </div>
        <div class="form-field">
            <label for="contactPerson">Contact person:</label>
            <input th:value="${supplier.getContactPerson()}" type="text" name="contactPerson" id="contactPerson"/>
        </div>
        <div class="form-field">
            <label for="email">Email:</label>
            <input th:value="${supplier.getContactPersonEmail()}" type="text" name="contactPersonEmail" id="email"/>
        </div>
        <!--    <tr>-->
        <!--        <th>Tuotteet</th>-->
        <!--        <td>-->
        <!--            should be a list of products-->
        <!--            <ul th:each="product : ${supplier.getProducts()}">-->
        <!--                <li>-->
        <!--                    <a th:href="@{/product-page/{id}(id=${product.id})}">-->
        <!--                        <span th:text="${product.getName()}">product</span>-->
        <!--                    </a></li>-->
        <!--            </ul>-->
        <!--        </td>-->
        <!--    </tr>-->
        <input type="submit"/>
    </form>

    <a th:href="@{/suppliers}">back to the list</a>
</main>
</body>
</html>