<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: common_head(~{::title}, ~{})}">
    <title>Edit supplier</title>
</head>
<body>
<div th:replace="~{fragments/header :: header-admin}"></div>
<main class="main">
    <h3>Muokata toimittajaa</h3>
    <form class="form" th:action="@{/supplier-edit/{supplierId}(supplierId = ${supplier.id})}" method="POST">
        <div class="form-field">
            <label for="name">Name:</label>
            <input th:value="${supplier.getName()}" type="text" name="name" id="name"/>
        </div>
        <div class="form-field">
            <label for="contactPerson">Contact person:</label>
            <input th:value="${supplier.getContactPerson()}" type="text" name="contactPerson" id="contactPerson"/>
        </div>
        <div class="form-field">
            <label for="email">Email:</label>
            <input th:value="${supplier.getContactPersonEmail()}" type="text" name="contactPersonEmail" id="email"/>
        </div>
        <input class="btn" type="submit"/>
    </form>
    <table class="vertical-heading">
        <tbody>
        <tr>
            <th>Nimi</th>
            <td th:text="${supplier.getName()}"></td>
        </tr>
        <tr>
            <th>Yhteyshenkilö</th>
            <td th:text="${supplier.getContactPerson()}"></td>
        </tr>
        <tr>
            <th>YhteyshenkilöEmail</th>
            <td th:text="${supplier.getContactPersonEmail()}"></td>
        </tr>
        </tbody>
    </table>
    <a class="link-btn" th:href="@{/suppliers}"><i class="fa-solid fa-arrow-left icon-back"></i>
        Takaisin</a>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>