<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: common_head(~{::title}, ~{})}">
    <title>New Customer Registration</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main class="main">
    <h3>Register as VIP customer</h3>
    <form class="form" th:action="@{/customer-registration}" th:object="${customerForm}" method="POST">
        <div class="form-field">
            <label for="name">Nimi</label>
            <input type="text" id="name" th:field="*{name}"/>
            <span th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}"
                  class="error"></span>
        </div>
        <div class="form-field">
            <label for="email">Sähköposti</label>
            <input type="text" id="email" th:field="*{email}"/>
            <span th:if="${#fields.hasErrors('email')}"
                  th:errors="*{email}"
                  class="error"></span>
        </div>
        <input class="btn" type="submit" th:value="Lähetä"/>
    </form>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>