<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Department</title>
</head>
<body>
<h1>Departments</h1>
<h3>Add department</h3>
<form th:action="@{/departments}" method="POST">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name"/>
  </div>
  <div>
    <label for="departmentIDP">Department IDP:</label>
    <input type="text" name="departmentIDP" id="departmentIDP"/>
  </div>
  <input type="submit"/>
</form>

<table>
  <thead>
  <tr>
    <th>Nimi</th>
    <th>Yhteyshenkilö</th>
    <th>Muokata</th>
    <th>Pois</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="department : ${departments}">
    <td th:text="${department.getName()}" ></td>
    <td th:text="${department.getDepartmentIDP()}" ></td>
    <td>
      <a th:href="@{/department-edit/{id} (id=${department.id})}">Muokata</a>
    </td>
    <td>
      <form th:action="@{/department/{departmentId} (departmentId=${department.id})}" th:method="DELETE">
        <input type="submit" value="Pois"/>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>