<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>

<head th:replace="~{fragments/head :: common_head(~{::title}, ~{})}">
    <title>Home</title>
</head>
<body>
<header th:replace="~{fragments/header :: header('Home', ${cart.getNumberOfProducts()})}"></header>
<main>
    <div class="main-banner">
        <h1 class="welcome-heading">Aloita päiväsi kahvilla... </h1>
    </div>
    <section class="special">
        <ul th:class="products-list">
            <li th:class="product-card" th:each="product : ${coffeeProducts}">
                <a th:class="product-card-content" th:href="@{/product-page/{id}(id=${product.id}, depId=${departmentId}, page=${'home'})}">
                    <figure>
                        <img th:class="product-card-img" th:src="@{/image/{id}(id=${product.id})}"
                             th:alt="${product.getProductImgName()}">
                    </figure>
                    <h3 class="product-title" th:text="${product.getName()}"></h3>
                    <div class="product-price" th:text="${product.getPrice() + '&euro;'}"></div>
                </a>
                <form th:action="@{/home/cart(depId=${departmentId},
                                    productId=${product.id},
                                    name=${product.getName()},
                                    price=${product.getPrice()})}" th:method="POST">
                    <input onclick="progressBar()" class="btn" type="submit" value="Lisää ostoskoriin"/>
                </form>
            </li>
        </ul>
    </section>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>