<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: common_head(~{::title}, ~{})}">
    <title>Please Log In</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main class="main">
    <h1>Please Log In</h1>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form class="form" th:action="@{/login}" method="post">
        <div class="form-field">
            <label th:for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username" autocomplete=""/>
        </div>
        <div class="form-field">
            <label th:for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" autocomplete=""/>
        </div>
        <input type="submit" value="Sign in"/>
    </form>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>