<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit manufacturer</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h3>Edit manufacturer</h3>
<table>
    <thead>
    <tr>
        <th>Manufacturer</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Nimi</th>
        <td th:text="${manufacturer.getName()}" ></td>
    </tr>
    <tr>
        <th>Url</th>
        <td th:text="${manufacturer.getUrl()}" ></td>
    </tr>
    <tr>
        <th>Tuotteet</th>
        <td>
            should be a list of products
<!--            <ul  th:each="product : ${manufacturer.getProducts()}">-->
<!--                <li th:text="${product.getName()}">product</li>-->
<!--            </ul>-->
        </td>
    </tr>

    </tbody>
</table>
<form th:action="@{/manufacturer-edit/{manufacturerId}(manufacturerId = ${manufacturer.id})}" method="POST">
    <div>
        <label for="name">Nimi:</label>
        <input th:value="${manufacturer.getName()}" type="text" name="name" id="name"/>
    </div>
    <div>
        <label for="url">Linkki:</label>
        <input th:value="${manufacturer.getUrl()}" type="text" name="url" id="url"/>
    </div>
    <div>
        <label for="product">Tuote:</label>
        <ul th:each="product : ${manufacturer.getProducts()}">
            <li><input th:value="${product.getName()}" type="text" name="product" id="product"/>product</li>
        </ul>

    </div>
    <input type="submit"/>
</form>

<a th:href="@{/manufacturers}">back to the list</a>

</body>
</html>