<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: common_head(~{::title}, ~{})}">
    <title>Products</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main class="main">
    <section class="product-section">
        <h1 class="section-title" th:text="${departmentName}">Products</h1>
        <form class="search-form" th:action="@{/products}" method="get">
            <input type="hidden" name="id" th:value="${departmentId}" />
            <label th:for="manufacturerId">Search brand</label>
            <select id="manufacturerId" name="manufacturerId" onchange="this.form.submit()">
                <option th:value="all" th:selected="${manufacturerId == selectedManufacturerId}">All brands</option>
                <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.id}"
                        th:text="${manufacturer.name}" th:selected="${manufacturer.id == selectedManufacturerId}"></option>
            </select>
        </form>
        <ul th:class="cards-container" >
            <li th:each="product, iStat : ${productPage}" th:class="product-card">
                <a th:href="@{/product-page/{id}(id=${product.id})}">
                    <img th:class="product-card-img" th:src="@{/image/{id}(id=${product.id})}"
                         th:alt="${product.getProductImgName()}">
                    <h3 class="product-title" th:text="${product.getName()}"></h3>
                    <div class="product-price" th:text="${product.getPrice() + '&euro;'}"></div>
                </a>
                <button class="btn" type="submit">Lisää ostoskoriin</button>
            </li>
        </ul>
        <div class="page-number-container" th:if="${productPage.totalPages > 0}" >
            <div class="pagination"
                 th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/products (size=${productPage.size}, page=${pageNumber}, id=${departmentId} )}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==productPage.number + 1} ? active"></a>
            </div>
        </div>
    </section>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>