<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: common_head(~{::title}, ~{})}">
    <title>Product page</title>
</head>
<body>
<div th:replace="~{fragments/header :: header(${depId}, ${cart.getNumberOfProducts()})}"></div>
<main class="main">
    <section class="product">
        <div class="singleProductCard">
            <figure>
                <img class="productImage" th:src="@{/image/{id}(id=${product.id})}"
                     th:alt="${product.getProductImgName()}">
            </figure>
            <div>
                <h1 th:text="${product.getName()}"></h1>
                <p th:text="${product.getDescription()}"></p>
                <div class="product-price single-product-price" th:text="${product.getPrice() + '&euro;'}"></div>
                <form th:action="@{/product/cart(depId=${depId},
                                    productId=${product.id},
                                    name=${product.getName()},
                                    price=${product.getPrice()})}" th:method="POST">
                    <input onclick="progressBar()" class="btn" type="submit" value="Lisää ostoskoriin"/>
                </form>
            </div>

        </div>
        <div>
            <a class="link-btn" th:href="@{/products(id=${depId})}">
                <i class="fa-solid fa-arrow-left icon-back"></i>
                Takaisin</a>
        </div>
    </section>

</main>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>