<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: common_head(~{::title}, ~{})}">
    <title>Success registration</title>
</head>
<body>
<div th:replace="~{fragments/header :: header('VipRegistration', ${cart.getNumberOfProducts()})}"></div>
<main class="main">
    <div class="success-reg">
        <h3>Success Registration!</h3>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>