<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{styles.css}">
  </head>
<body>
<!-- /*  Multiple fragments may be defined in one file */-->
<div class="footer" th:fragment="footer">
  <span>&copy;</span> 2024 Tekijä Anna Shestakova
</div>

<div th:fragment="footer-admin">

  </ul>
</div>
</body>
</html>