<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
<!-- /*   header */-->
<div class="header" id="header" th:fragment="header(title, cart)">
    <a onclick="progressBar()" th:href="@{/}">
         <figure th:class="logo">
            <img th:src="@{/images/coffeeShopLogo.svg}" alt="logo">
        </figure>
    </a>

    <ul class="nav">
        <li class="tab"><a onclick="progressBar()" th:class="${#strings.equals(title, 'Home')}  ? 'active':''" th:href="@{/}">Kahvi Kauppa</a></li>
        <li class="tab"><a onclick="progressBar()" th:class="${title == 1 ? 'active': ' '}" th:href="@{/products(id=1)}">Kahvilaitteet</a></li>
        <li class="tab"><a onclick="progressBar()" th:class="${title == 2 ? 'active': ' '}" th:href="@{/products(id=2)}">Kulutustuotteet</a></li>
        <li class="tab" sec:authorize="!hasRole('ADMIN')">
            <a onclick="progressBar()" th:class="${#strings.equals(title, 'VipRegistration')}? 'active':''" th:href="@{/customer-registration}">
            Registeröidy VIP-asiakkaaksi</a></li>
        <li class="tab" sec:authorize="!hasRole('ADMIN')">
            <a onclick="progressBar()" th:class="${#strings.equals(title, 'login')} ? 'active':''" th:href="@{/manufacturers}">
            Kirjaudu</a></li>
        <li class="tab" sec:authorize="hasRole('ADMIN')">
            <a onclick="progressBar()" th:href="@{/manufacturers}">Admin</a>
        </li>
        <li class="tab" sec:authorize="hasRole('ADMIN')">
            <form th:action="@{/logout}" method="post">
                <input onclick="progressBar()" class="signOut" type="submit" value="Kirjaudu ulos"/>
            </form>
        </li>
        <li sec:authorize="!hasRole('ADMIN')">
            <a onclick="progressBar()" th:class="${#strings.equals(title, 'Cart')}  ? 'active':''" th:href="@{/cart}">
           <span th:class="cart-nav-item">
               <i class="fa-solid fa-cart-shopping"></i>
               <span th:class="cart-badge + ${cart == 0 ? ' hidden': ''}" th:text="${cart}">
               </span></span> </a></li>
    </ul>
</div>

<!-- /*  Header for Admin page */-->
<div class="header" id="header-admin" th:fragment="header-admin(title)">
    <a onclick="progressBar()" th:href="@{/}">
        <figure th:class="logo">
            <img th:src="@{/images/coffeeShopLogo.svg}" alt="logo">
        </figure>
    </a>
    <ul class="nav">
        <li><a onclick="progressBar()" th:class="${#strings.equals(title, 'Home')}  ? 'active':''" th:href="@{/}">Kahvi Kauppa</a></li>
        <li><a onclick="progressBar()" th:class="${#strings.equals(title, 'Suppliers')}  ? 'active' : ''" th:href="@{/suppliers}">Toimittajat</a></li>
        <li><a onclick="progressBar()" th:class="${#strings.equals(title, 'Manufactures')}  ? 'active':''" th:href="@{/manufacturers}">Valmistajat</a></li>
        <li><a onclick="progressBar()" th:class="${#strings.equals(title, 'Tuotteet')} ? 'active':''" th:href="@{/products-admin}">Tuotteet</a></li>
        <li><a onclick="progressBar()" th:class="${#strings.equals(title,'Departments')} ? 'active':''" th:href="@{/departments}">Osastot</a></li>
        <li><a onclick="progressBar()" th:class="${#strings.equals(title,'Vip-customers')} ? 'active':''" th:href="@{/vip-customers}">Vip-asiakkaat</a></li>
        <li>
            <form th:action="@{/logout}" method="post">
                <input onclick="progressBar()" class="signOut" type="submit" value="Kirjaudu ulos"/>
            </form>
        </li>
    </ul>
</div>

</body>
</html>