@import "variables.css";
/*Product page styles*/
section.product{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.singleProductCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10rem;
    margin-block-start: 10rem;
    margin-block-end: 5rem;
}

.productImage{
    width:40rem;
    height:40rem;
    background-color: var(--imgBackground);
}
