@import "variables.css";

.img-thumbnail{
    width:5rem;
    height: 5rem;
}
/*Products page for clients*/
.wrap-container{
    display: flex;
    gap:2rem;
}
.side-bar{
    padding-top: 12rem;
    margin-inline-start: 4rem;
}

.search-form{
    display: flex;
    flex-direction: column;
    color: var(--textColor);
}
.search-form>select, label{
    width: 15rem;

}
.search-form>label{
    margin-bottom: 1rem;
    font-size: 1.4rem;

}
.product-section{
    width: 70rem;
    margin: 5rem auto;
}

.cards-container{
    display: flex;
    gap:2rem;
    flex-wrap: wrap;
    row-gap: 6rem;
}
.product-card{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    font-size: 1.6rem;
    align-items: center;
    justify-content: space-between;
}
.product-card>a{
    text-decoration: none;
    color:var(--headingColor);
}
li>a:hover{
    cursor: pointer;
}
.product-card-content{
    display: flex;
    flex-direction: column;
}
.product-card a>figure{
    display: flex;
    justify-content: center;
}
.product-card-img{
    width:20rem;
    height: 20rem;
    flex-basis: 70%;
}

.product-title{
    font-size: 1.6rem;
    color: var(--headingColor);
    flex-basis: 3rem;
    font-weight: 600;
}

.product-price{
    font-size: 2rem;
    flex-basis: 4rem;
}
.single-product-price{
    margin-block-end: 2rem;
}

.page-number-container{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin: 2rem auto;
    width: fit-content;
    font-weight: 600;
}
.pagination{
    font-size: 1.6rem;
    margin-inline-end: 1rem;
}
.pagination>a{
    text-decoration: none;
    color: dimgrey;
}
.pagination>a.active{
    color: #f39317;
}

/*Products on main page*/
.special{
    padding:2rem;
    margin-block-start: 3rem;
}

.products-list{
    display: flex;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
    overflow-x: scroll;
    gap:2rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
.products-list::-webkit-scrollbar {
    display: none;
}
.products-list>.product-card{
    border: 1px solid var(--tableBorderColor);
    padding: 1rem 1rem 2rem 1rem;
}
.special::-webkit-scrollbar {
    display: none;
}